<div class='row'>
    <div {{bind-attr class=':small-6 :small-offset-3 :columns showHelp::hide' }}>
        <div class='alert-box info radius'>
            <h5>Items help you work faster and stay organized.</h5>
            <p>Use items to speed up the generation of invoices, estimates and support tickets, to help categorize your revenues, improve reporting and track inventory. To get started {{link-to 'create a new item' 'items.new'}}.</p>
            <a href="#" {{action clearShowHelp}} class="close">&times;</a>
        </div>
    </div>
</div>
<div class='row'>
    <div class='small-9 columns'>
        <h3>Items</h3>
    </div>
    {{link-to '+ New Item' 'items.new' class='button success right'}}
</div>
<div class='row'>
    <div class='small-12 columns'>
        <table>
            <thead>
                <tr>
                    <th width="10"></th>
                    <th width='150'>Item Name</th>
                    <th width="200">Description</th>
                    <th width="150">Inventory</th>
                    <th width="150">Unit Cost(£)</th>
                    <th width="150">Qty</th>
                    <th width="150">Tax 1</th>
                    <th width="150">Tax 2</th>
                </tr>
            </thead>
            <tbody>
                {{#each}}
                <tr>
                    <td></td>
                    <td>{{name}}</td>
                    <td>{{description}}</td>
                    <td></td>
                    <td>{{cost}}</td>
                    <td>{{quantity}}</td>
                    <td>{{tax1}}</td>
                    <td>{{tax2}}</td>
                </tr>
                {{else}}
                <tr>
                    <td class='text-center' colspan='8'>No invoice items were found. {{link-to 'Create an item' 'items.new'}}.

                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>