<div class='row'>
<div class='small-12 columns'>
<ul class='inline-list'>
  <li> {{link-to 'Invoices' 'invoices.index'}}</li>
  <li> {{link-to 'Recurring' 'recurring'}}</li>
  <li> {{link-to 'Received' 'invoices.received'}}</li>
  <li> {{link-to 'Payments' 'payments'}}</li>
  <li> {{link-to 'Credits' 'credits'}}</li>
  <li> {{link-to 'Items' 'items'}}</li>
</ul>
</div>
</div>
{{outlet}}