<div class='row'>
    <div class='small-9 columns'>
        <h3>Overview</h3>
    </div>
    <div class='small-3 columns'>
        <a href="#" class="button split success right">+ New <span data-dropdown="drop"></span></a>
        <br>
        <ul id="drop" class="f-dropdown" data-dropdown-content>
            <li>{{link-to 'Client' 'clients.new'}}</li>
            <li>{{link-to 'Invoice' 'invoices.new'}}</li>
            <li>{{link-to 'Estimate' 'estimates.new'}}</li>
            <li>{{link-to 'Expense' 'expenses.new'}}</li>
            <li>{{link-to 'Payment' 'payments.new'}}</li>
            <li>{{link-to 'Project' 'projects.new'}}</li>
        </ul>
    </div>
</div>
<div class='row '>
    <div class='small-4 columns'>
        <div class='panel'>
            <h5>Recent Activity</h5>
        </div>
        <div class='panel'>
            <h5>Recent Customer Reviews</h5> 
        </div>
    </div>
    <div class='small-8 columns right'>
        <div class='panel'>
            <h5>Invoices & Expenses</h5>
        </div>
        <div class='panel'>
            <h5>Outstanding Invoices</h5>
        </div>
        <div class='panel'>
            <h5>Expense Categories</h5>
        </div>
        <div class='panel'>
            <h5>Active Projects</h5>
        </div>
    </div>
</div>